.navbar {
  grid-area: nav;
  background-color: greenyellow;
  padding: 30px;
  }

.item {
  padding-bottom: 15px;
  font-size: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active{
color: red;
}