.item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center; 
 
}

.item_mess {
   display: grid;
   grid-template-columns: 1fr 8fr;
   align-items: center; 
 
}

.like {
    padding-left: 20px;
}

.item_mess img {
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
}